# .envrc

VIRTUAL_ENV='.venv'

if [ ! -d $VIRTUAL_ENV ]
then
    printf "generating .venv since its missing\n"
    python3 -m venv .venv
fi

. "$VIRTUAL_ENV/bin/activate"

if [ ! -f "$VIRTUAL_ENV/.direnv.installed" ]
then
    printf "installing python requirements since its missing\n"
    touch "$VIRTUAL_ENV/.direnv.installed"
    pip install --requirement requirements.txt
fi

export PATH="$PWD/bin:$PATH"
